{# templates/paragraph--glen_grid_card_item.html.twig #}
{% set li = paragraph.field_link.0 %}
{% set url_obj = li.getUrl() %}
{% set href = url_obj.toString() %}
{% set text = li.title ?: href %} {# fallback if no link text #}
{% set img = paragraph.field_card_image.entity.field_media_image %}
{% set file = img.entity %}
{% set src   = file_url(file.uri.value) %}
{% set alt   = img.alt %}
{% set title = img.title %}

<article class="card-block-item h-100">
	<div class="card-block-item__media">
		<img src="{{ src }}" alt="{{ alt }}" title="{{ title }}" typeof="foaf:Image">
	</div>
	<div class="card-block-item__inner d-flex flex-column">
		<h3 class="card-block-item__title"><a href="{{ href }}">{{content.field_title.0}}</a></h3>
		<div class="card-block-item__text">{{ content.field_card_text }}</div>
		<div class="btn_row">
			<a class="btn white-btn" href="{{ href }}">{{ text }}
				<i class="fa fa-angle-right"></i>
			</a>
		</div>
	</div>
</article>